#add_post_form #id_body, #edit_post_form #id_body {
    width: 916px;
    height: 300px;
}

.blog_link {
    color: #6DA3BD;
    font-family: Tahoma, sans-serif;
    font-size: 2em;
    line-height: 1.5em;
}

.blog_post_breaker {
    color: #666;
    font-family: Tahoma, sans-serif;
    font-size: 2em;
    line-height: 1.5em;
}

.post_link h1{
    color: #666;
    font-family: Tahoma, sans-serif;
    font-size: 2em;
    line-height: 1.5em;
    display: inline;
}

.post_link h1:hover {
    color: #333;
}

.blog_link_small {
    color: #6DA3BD;
    font-family: Tahoma, sans-serif;
    line-height: 1.5em;
}

.blog_post_breaker_small {
    color: #666;
    font-family: Tahoma, sans-serif;
    line-height: 1.5em;
}

.post_link_small {
    color: #666;
    font-family: Tahoma, sans-serif;
    line-height: 1.5em;
}

.blog_post {
    margin: 7px 7px 30px;
    border: 1px solid #BBB;
    border-radius: 5px;
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px;
	-khtml-border-radius: 5px;
}

.blog_post .blog_post_tease {
    padding: 10px;
	font-family: Georgia;
	font-size: 13px;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: #f8f8f8;
}

.blog_post .blog_post_meta {
    background-color: #F5DEB3;
    margin: 10px -1px -1px;
    padding: 3px 10px 0;
    border: 1px solid #BBB;
    border-radius: 5px;
    -moz-border-radius:  0 0 5px 5px;
	-webkit-border-radius:  0 0 5px 5px;
	-khtml-border-radius: 0 0 5px 5px;
}

.blog_post .blog_post_meta .avatarname,
.blog_post .blog_post_meta .blog_post_date,
.blog_post .blog_post_meta .share_buttons {
    float: left;
    margin-right: 5px;
}

.blog_list {
    width: 100%;
}
.blog_list .actions {
    width: 200px;
}
.blog_list thead {
    font-weight: bold;
    border-bottom: 1px solid #666;
    text-align: left;
}
.blog_list {
    margin-bottom: 40px;
}
.post_list {
    vertical-align: top;
}
.blog_post_tags a {
    color: #444;
}
.blog_post_tags a:hover {
    color: #111;
}
.tag_cloud {
    padding-top: 60px;
}
.cloud_1 {
    font-size: 10px;
}
.cloud_2 {
    font-size: 12px;
}
.cloud_3 {
    font-size: 15px;
}
.cloud_4 {
    font-size: 18px;
}
.cloud_5 {
    font-size: 20px;
}
.cloud_6 {
    font-size: 22px;
}
.blog_post_title {
    vertical-align: middle;
    padding: 10px;
}
.post_raiting {
    float: right;
}
/* Table all blogs */
.all_blogs {
    width: 100%;
    border-collapse: collapse;
}
.all_blogs tr td {
    height: 30px;
    padding: 5px;
}
.all_blogs tr.odd td {
    background-color: #EEE;
}
.all_blogs td.label {
    width: 150px;
    color: #888;
    font-style: italic;
    vertical-align: top;
}
.all_blogs td.column-center, .all_blogs th.column-center{
    text-align: center;
}
.all_blogs img.blog_icon{
    height: auto;
    max-width: 50px;  /*XXX*/
}

/* Post content */
.blog_post .blog_post_tease blockquote {
	line-height: 1.5em;
	background-color: #fff;
	border: 1px solid #ebebeb;
	padding: 10px;	
	margin: 10px;
	font-style: italic;
	color: #777;	
	margin-left: 3em;
}
.blog_post .blog_post_tease div, .blog_post .blog_post_tease p, .blog_post .blog_post_tease h1, .blog_post .blog_post_tease h2, .blog_post .blog_post_tease h3 {
	line-height: 1.5em;
	background-color: #fff;
	border: 1px solid #ebebeb;
	padding: 10px;
	margin: 10px;
}
.blog_post .blog_post_tease ul, .blog_post .blog_post_tease ol {
	line-height: 1.5em;
	background-color: #fff;
	border: 1px solid #ebebeb;
	margin: 10px;
	padding: 10px;
	padding-left: 2em;
}
.blog_post .blog_post_tease dl { 
	background-color: #fff;
	border: 1px solid #ebebeb;
	padding: 10px;	
	margin: 10px;	
}
.blog_post .blog_post_tease dl dt { font-weight: bold; }
.blog_post .blog_post_tease dd { margin-left: 1.5em;}

.blog_post .blog_post_tease table {
	background-color: #fff;
	border-collapse: collapse;
	font-size: 1em;	
	margin: 10px;
}
.blog_post .blog_post_tease table td {
	border: 1px solid #ddd;
	padding: 5px;
}
.blog_post .blog_post_tease table thead td {
	border-bottom: 2px solid #000 !important;
	font-weight: bold;
}
.blog_post .blog_post_tease code, .blog_post .blog_post_tease pre { font: 1.2em/1 "Courier New", Courier, monospace; border: 1px dashed #ccc; background: #f5f5f5;  padding: 1em; 	margin: 10px; }
.blog_post .blog_post_tease pre {  line-height: 1.7em; font-size: .9em; background: #f5f5f5; overflow: auto;  }

.blog_post .blog_post_tease iframe, .blog_post .blog_post_tease object {
	margin: 10px;
}

.blog_post .blog_post_tease hr.redactor_cut {
    display: none;
}
.img_left {
	float: left;
	margin-right: 10px; 
	margin-bottom: 10px;
}
.img_right {
	float: right;
	margin-left: 10px; 
	margin-bottom: 10px;
}

/* Posts compact view */
.post_compact_list {
    width: 100%;
}
.post_compact_list .actions {
    width: 120px;
}
.post_compact_list .actions ul {
    margin: 0;
    padding: 0;
}
.post_compact_list .actions li {
    list-style-type: none
}
.post_compact_list .date {
    width: 130px;
}
.post_compact_list td {
    border-bottom: 1px solid #CCC;
}
