{% extends "blog/base.html" %}

{% load i18n %}

{% block external_css %}
    <link href="{{ MEDIA_URL }}css/jquery-ui-1.8.7.custom.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
            <li class="ui-state-default ui-corner-top{% block my_post_list_tab_class %}{% endblock %}">
                <a href="{% url blog_my_post_list %}">{% trans "My posts" %}</a>
            </li>
            <li class="ui-state-default ui-corner-top{% block add_tab_class %}{% endblock %}">
                <a href="{% url blog_add %}">{% trans "Write post" %}</a>
            </li>
        </ul>
        <div class="ui-tabs-panel ui-widget-content ui-corner-bottom">
            {% block tab_content %}{% endblock %}
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}
