{% extends "blog/base.html" %}

{% load i18n %}
{% load misc %}

{% block head_title %}
    {% trans "Blogs in category" %} {{ category.name }}
{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="alternate" type="application/atom+xml" title="{% trans "Blog post feed for category" %} {{ category.name }}" href="/feeds/posts/category/{{ category.slug }}/" />
{% endblock %}

{% block body %}

    <h1>{% trans "Blog posts in category" %} {{ category.name }}</h1>

    {% define category.post_list.all post_list %}
    {% if post_list %}

        {% include "blog/post_iterator.html" %}

    {% else %}
        {% trans "No blog posts yet." %}
    {% endif %}

{% endblock %}
