{#% extends "blog/base.html" %#}
{% extends "search/all.html" %}

{% load i18n %}

{% block head_title %}{% trans "All posts" %}{% endblock %}
{% block seo_keywords %}{% trans "All posts" %}{% endblock %}
{% block seo_description %}{% trans "All posts" %}. {{ block.super }}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link href="{{ THEME_STATIC_URL }}css/blog.css" rel="stylesheet" type="text/css">    
    <link rel="alternate" type="application/atom+xml" title="{% trans "All posts" %}" href="/feeds/posts/all/" />
{% endblock %}

{% block body %}
    <h1>{% trans "All posts" %}</h1>
    {% if post_list %}
        {% include "blog/post_iterator.html" %}
    {% else %}
        {% trans "No posts yet." %}
    {% endif %}
{% endblock %}
