{% load i18n %}
{% load avatar_tags %}
{% load misc_tags %}
{% load blog_tags %}
{% load ratings_tags %}
{% load share_buttons %}
{% load profile_bubble %}

{% check_post_status request.user post %}
{% if show_post %}
    <div class="blog_post clearfix">
       
        <div class="blog_post_title">
            {% if post.blog %}  
                <a href="{{ post.blog.get_absolute_url }}" class="blog_link">{{ post.blog.name }}</a>
                <span class="blog_post_breaker">&rarr;</span>
            {% endif %}
            <a href="{{ post.get_absolute_url }}" class="post_link"><h1>{{ post.title }}</h1></a>
            {% set post.can_edit request.user post_can_edit %}
            {% if post_can_edit %}
                <a href="{% url blog_post_edit post.id %}" class="icon_edit"><img src="{{ THEME_STATIC_URL }}img/icons/edit.png" alt="{% trans 'Edit' %}"></a>
                {% if post.status == 1 %}
                    <b>{% trans "Draft" %}</b>
                    [ <a href="{% url blog_post_change_status 'public' post.id %}" class="inline_action">{% trans "Publish" %}</a> ]
                    [ <a href="{% url blog_post_delete post.id %}" class="inline_action">{% trans "Delete" %}</a> ]
                {% else %}
                    [ <a href="{% url blog_post_change_status 'draft' post.id %}" class="inline_action">{% trans "To drafts" %}</a> ]
                {% endif %}
            {% endif %}
        </div>

        <div class="blog_post_tease">
            {% if post_undetailed and post.tease %}
                {{ post.tease|safe }}
            {% else %}
                {{ post.body|safe }}
            {% endif %}
        </div>
        <div class="clearfix"></div>
        <div class="blog_post_meta">
            <div class="avatarname">
                <span class="with_popup">
                    <a class="username" href="{% url poetry_user_works post.author.username %}">
                        {% avatar post.author 20 %} {{ post.author.username }}
                        <span class="fullname">{{ post.author.get_profile.display_name }}</span>
                    </a>
                    {% get_profile_bubblepopup post.author %}
                </span>
            </div>
            <div class="blog_post_date">
                {{ post.updated_at|date:"d M Y, H:i" }}
                {% if post.allow_comments %}
                    | <a href="{{ post.get_absolute_url }}">
                        {% blocktrans with post.comments_count as comments_count %}Comments: {{ comments_count }}{% endblocktrans %}
                    </a>
                {% endif %}
                |
            </div>
            {% share_it request post.get_absolute_url post.title %}
            {% render_rating post "post" post.author %}
            <div class="clearfix"></div>
        </div>
    </div>
    {% share_js request %}
{% endif %}
