{% extends "blog/base.html" %}

{% load i18n %}
{% load threadedcommentstags %}
{% load blog_tags %}
{% load misc_tags %}
{% load ratings_tags %}

{% block head_title %}{% blocktrans with post.title as title %}Blog Post: {{ title }}{% endblocktrans %}{% endblock %}
{% block seo_keywords %}{% trans "blog post" %}, {{ post.title }}{% endblock %}
{% block seo_description %}{% blocktrans with post.title as title %}Blog Post: {{ title }}{% endblocktrans %}. {{ block.super }}{% endblock %}

{% block external_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}prostoEscribir/css/prostoEscribir.css" />
{% endblock %}

{% block bread_crumbs %}
    <a href="{% url blog_post_list %}">{% trans "All posts" %}</a>
    <span class="tail"> » {{ post.title }}</span>
{% endblock %}
 
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ THEME_STATIC_URL }}css/comments.css" />
    <link rel="stylesheet" href="{{ THEME_STATIC_URL }}css/pygments.css" />
{% endblock %}

{% block external_js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}prostoEscribir/prostoEscribir.js"></script>
{% endblock %} 

{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/misc.js"></script>
    <script src="{{ STATIC_URL }}js/comments.js"></script>
{% endblock %} 

{% block body %}
    {% show_full_blog_post post %} 
    
    {% if post.allow_comments %}
        <h3>{% trans "Comments:" %}</h3>
        {% comments post %}
    {% endif %}
{% endblock %}
